<div>
  <app-loading *ngIf="isLoading"></app-loading>
  <app-list-options
    [genres]="genres"
    [onFilterSelected]="onSelectedFilter"
    [onSortSelected]="onSelectedSort"
    [onClear]="clearFilters"
  ></app-list-options>
  <app-movie-list
    *ngIf="!isLoading"
    [movies]="dataMovies.movies"
  ></app-movie-list>
  <app-pagination
    [currentPage]="dataMovies.metaData.pagination.currentPage"
    [totalPages]="dataMovies.metaData.pagination.totalPages"
    [onSelectPage]="onSelectedPage"
  ></app-pagination>
</div>
