@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #8f36ff;
  --purple-light: #c49af9;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.bg-purple-light {
  background-color: var(--purple-light);
}
